.app-title > a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.app-title {
    text-align: center;
}
.logout-link {
    text-align: center;
    position: relative;
    justify-content: space-evenly;
    display: flex;
    text-decoration: none;
    font-size: large;
}
.logout-link  > nav > a, .logout-link > a{
    text-decoration: none;
    cursor: pointer;
}
@media (min-width: 1200px) {
    .logout-link {
        margin: 0 20vw;
    }
}